streamlit==1.49.1
psycopg2-binary==2.9.10
pandas==2.3.2
matplotlib==3.10.6
folium==0.20.0
streamlit-folium==0.25.1
groq==0.31.0
plotly==5.24.1
requests==2.32.5
numpy==2.3.2
streamlit-aggrid==1.0.4
